<div class="animated fadeIn">
    <mat-table #table [dataSource]="dataSource" class="mat-elevation-z20" *ngIf="dataSource.length > 0">

        <!-- Position Column -->
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
            <mat-cell *matCellDef="let row; let i = index;"> {{ i + 1 }} </mat-cell>
        </ng-container>


        <!-- <ng-container matColumnDef="url">
            <mat-header-cell *matHeaderCellDef>Image/Video</mat-header-cell>
            <mat-cell *matCellDef="let row">
                <img width="90%" src="{{imageendpoint}}/{{row.filename}}" />
            </mat-cell>
        </ng-container> -->

        <!-- <ng-container matColumnDef="url">
            <mat-header-cell *matHeaderCellDef>Image/Video</mat-header-cell>
            <mat-cell *matCellDef="let row">
                <img width="90%" src="{{imageendpoint}}/{{row.tblusermedium.filename}}"
                    *ngIf="row.tblusermedium.Type != 'Both' " />
                <video width="150" height="150" controls poster="{{imageendpoint}}/{{row.tblusermedium.poster}}">
                    <source src="{{imageendpoint}}/{{row.tblusermedium.filename}}">
                </video>
            </mat-cell>
        </ng-container> -->


        <ng-container matColumnDef="url">
            <mat-header-cell *matHeaderCellDef>Image/Video</mat-header-cell>
            <mat-cell *matCellDef="let row">
                <div *ngIf="row.tblusermedium.ispair == true">
                    <video width="150" height="150" controls poster="{{imageendpoint}}/{{row.tblusermedium.poster}}">
                        <source src="{{imageendpoint}}/{{row.tblusermedium.filename}}">
                    </video>
                </div>
                <div *ngIf="row.tblusermedium.ispair == false">
                    <img width="90%" src="{{imageendpoint}}/{{row.tblusermedium.filename}}"
                        *ngIf="row.tblusermedium.Type.includes('image')" />
                    <video width="150" height="150" controls *ngIf="row.tblusermedium.Type.includes('video')">
                        <source src="{{imageendpoint}}/{{row.tblusermedium.filename}}">
                    </video>
                </div>
            </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="isread">
            <mat-header-cell *matHeaderCellDef> IsRead </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <button style="cursor:pointer;" mat-icon-button style="position:relative">
                    <span (click)="notificationupdate(element)" *ngIf="element.isread == false"
                        style="background-color: red;border-radius: 15px;position: absolute;height: 13px;width: 13px;top: 10px;">
                    </span>
                    <span *ngIf="element.isread == true"
                        style="background-color: green;border-radius: 15px;position: absolute;height: 13px;width: 13px;top: 10px;">
                    </span>
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>


    <div class="mat-table-empty" *ngIf="dataSource.length === 0">
        <mat-card class="example-card">
            <mat-card-content>
                No records found
            </mat-card-content>
        </mat-card>
    </div>

</div>